:root {
  --accent-color: #2196f3;
  --background: #2f303a;
  --text-color: #757575;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* хедер */
.page-header .container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.page-header {
  padding: 24px 0;
}

.page-header a {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  line-height: 114%;
  transition: color 250ms ease;
}

.page-header a:not(:last-child) {
  margin-right: 30px;
}

.page-header a:hover {
  color: var(--accent-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.header-nav-item {
  color: var(--accent-color);

}

.header-nav-item.active {
  color: var(--background);
}

.header-nav-item.active {
  position: relative;
  padding-bottom: 24px;
  transition: color 250ms ease; 
}

.header-nav-item.active:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border: none;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: 0;
  left: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

#header-nav-third-element {
  margin-right: 314px;
}

.icon-envelope-hover {
  margin: 2px 10px 2px 0;
}

.icon-smartphone {
  margin-right: 10px;
}

/* кнопки */
.button {
  padding-top: 94px;
}

.button :not(:last-child) {
  margin-right: 8px;
}

.button-item {
  padding: 6px 22px;
  cursor: pointer;
  color: #212121;
  background-color: #F5F4FA;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  line-height: 162%;
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  transition: color 250ms ease;
}

.button-item:hover {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

#unique-button {
  width: 73px;
  height: 38px;
}

.button .container {
  text-align: center;
}

/* галерея */
.gallery .container {
  display: flex;
  flex-wrap: wrap;
}

.product-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.product-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.product {
  border: 1px solid #EEEEEE;
  flex-basis: calc((100% - 60px) / 3);
  box-sizing: border-box;
}

.gallery {
  padding: 50px 0 94px 0;
}

.gallery-item:hover {
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.gallery-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: color 250ms ease;
}

.gallery-figcaption {
  padding-left: 24px;
  padding-bottom: 20px;
  background-color: white;
  z-index: 2;
}

.gallery-item-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 200%;
  padding-top: 20px;
  margin: 0 auto;
}

.gallery-item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  color: #757575;
  padding-top: 4px;
  margin: 0 auto;
}

/* card overlay */

.gallery-img-thumb {
  position: relative;
  width: 100%;
  z-index: -1;
}


.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff; 
  display: flex;
  justify-content: center;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 0.5s ease;
  z-index: 1;
}

.product:hover .card-overlay {
  transform: translateY(0);
}
.card-overlay .card-img {
  transform: scale(1);
}

.card-overlay:hover .card-img {
  transform: scale(1.5);
  transition: transform 0.5s ease;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.card-overlay:hover>.card-overlay-desc {
  transform: translateY(0px);
  transition: transform 0.5s ease;
  transition-duration: 250ms;
}

/* підвал */
.footer {
  padding: 60px 0;
  background-color: var(--background);
  list-style: none;
}

.footer-wrap {
  display: flex;
}

.footer ul {
  list-style: none;
  padding-top: 20px;
  padding-left: 0;
}

#unique-element {
  color: #fff;
  transition: color 250ms ease;
}

#unique-element:hover {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.footer-list a {
  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms ease;
}

.footer a:hover {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.footer-right {
  margin: 12px 0 0 70px;
}

.footer-right-header {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  line-height: 114%;
  margin-bottom: 20px;
}

.footer-right-icons {
  display: flex;
  justify-content: space-between;
}

.footer-icon-list {
  margin-top: 16px;
  list-style: none;
  display: flex;
}

.footer-icon-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-icon-list-link {
  text-decoration: none;
}

.footer-icons-item {
  color: white;
  font-size: 16px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 0.5s ease,background-color 250ms ease;
  border-radius: 35px;
}

.footer-icons-item:hover {
  color: white;
  background-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

/*форма футер */

.footer-form {
  margin-left: auto;
  margin-top: 12px;
  float: right;
}

.footer-form-header {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  line-height: 114%;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}

.footer-form-wrap {
  display: flex;
  justify-content: flex-end;
}

.footer-form-input {
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(33, 150, 243, 0);
  border-radius: 4px;
  margin-bottom: 10px;
  resize: none;
  width: 326px;
  margin-right: 12px;
}

.footer-form-btn {
  display: flex;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 45px;
  padding: 10px 28px;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
}

.footer-form-btn p {
  font-size: 16px;
  font-weight: 700;
  line-height: 187%;
  margin-right: 10px;
}


/* котейнер */
.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
}